<!--바디 바로 밑에-->
<!--<header th:replace="~{layout/common :: header}"></header>-->
<header th:fragment="header" class="container-fluid  px-4 py-4 bg-white shadow-sm">
    <div th:if="${session.loginMember == null}"
         class="d-flex justify-content-between align-items-center common-container">
        <a href="#" class="">
            <img src="/images/logo/site-logo.png" width="200">
        </a>
        <a href="/member/login" class="btn btn-orange">
            로그인
        </a>
    </div>

    <div th:if="${session.loginMember != null}"
         class="d-flex justify-content-between align-items-center common-container">
        <a href="#" class="">
            <img src="/images/logo/site-logo.png" width="200">
        </a>
        <div class="d-flex align-items-center gap-3">
            <a href="mypage.html">
                <img src="images/icon/person-circle.svg">
            </a>
            <span>
            안녕하세요,&nbsp;
            <strong th:text="${session.loginMember.nickname}">
                닉네임
            </strong>님!
            </span>
            <a href="">로그아웃</a>
        </div>
    </div>
</header>
<!--main 바로 밑에-->
<!--<section th:replace="~{layout/common :: intro}"></section>-->
<section th:fragment="intro" class="container common-container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-4">
        <img src="/images/lol/lol-banner.png" class="board-banner" width="200">
        <div>
            <h3 class="fw-bold">
                <span th:text="${game.gameTitle}">게임명</span>
                파티 모집 게시판
            </h3>
            <p class="text-secondary fw-semibold">
                파티원을 모집해보세요!
            </p>
        </div>
    </div>
    <!--    <a href="/profile.html" class="btn btn-outline-orange fw-semibold">-->
    <!--        인게임 프로필 등록-->
    <!--    </a>-->
</section>
