<!--바디 바로 밑에-->
<header>
    <div>
        <a href="#" class="">
            <img src="/images/logo/">
        </a>
        <div>
            <a href="login.html">
                로그인
            </a>
        </div>
    </div>

    <div>
        <a href="#" class="">
            <img src="/images/logo/">
        </a>

        <a href="mypage.html">
            <img src="profile-img.png">
        </a>
        <span>
            안녕하세요,&nbsp;
            <strong>
                닉네임
            </strong>님!
        </span>
    </div>
</header>
<!--main 바로 밑에-->
<section>
    <img src="/images/">
    <div>
        <h1>
            <span>게임명</span>
            파티 모집 게시판
        </h1>
        <p>
            파티원을 모집해보세요!
        </p>
    </div>
    <a href="/profile.html">
        인게임 프로필 등록
    </a>
</section>