<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>멋사라이브</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
<header th:replace="~{layout/common :: header}"></header>
<section th:replace="~{layout/common :: intro}"></section>
<main>
    <div class="title row">
        <p class="label">제목</p>
        <h2 th:text="${post.title}">실버 정글, 미드 구해요!</h2>
    </div>
    <div class="post_info row">
        <p class="label"></p>
        <div class="post_info_content">
            <p>
                <img th:src="${member.profileImgDir}" alt="">
                <span th:text="${member.nickname}">소환사루나</span>
            </p>
            <p th:text="${post.tag}">일반</p>
            <p>지원인원 <span th:text="${post.participantCount}">3</span> / <span
                    th:text="${post.maxParticipantCount}">5</span></p>
            <p th:if="${!post.isClosed()}">마감시간 <span th:text="${remainTime}">1사간 45분 남음</span></p>
            <p th:if="${post.isClosed()}"> 마감됨 </p>
            <form th:if="${!post.isClosed()}" th:action="@{./request:close(id=${post.id})}" method="post"
                  th:object="${post}">
                <button class="btn close">모집마감</button>
            </form>
        </div>
    </div>
    <div class="detail row">
        <p class="label">모집 내용</p>
        <div style="white-space: pre-wrap" class="content" th:text="${post.content}">
            편하게 같이 게임하실 분 구합니다.
            실버 구간이고, 정글 또는 미드 플레이 가능하신 분 환영해요.
            디스코드 가능하신 분이면 더 좋고, 즐겜 위주로 편하게 하실 분 구합니다!
        </div>
    </div>
    <div class="author_info row">
        <p class="label">게시글 작성자 정보</p>
        <div class="content">
            <table class="user_info">
                <tr>
                    <th class="nickname">닉네임</th>
                    <th class="ingame_nickname">인게임 닉네임</th>
                    <th>레벨</th>
                    <th>랭크</th>
                    <th>포지션</th>
                </tr>
                <tr>
                <tr>
                    <td th:text="${member.nickname}">
                        소환사루나
                    </td>
                    <td th:text="${authorIngameInfo.lolIngameInfo.nickname}">
                        소환사루나
                    </td>
                    <td th:text="${authorIngameInfo.lolIngameInfo.level}">
                        278
                    </td>
                    <td th:text="${authorIngameInfo.lolIngameInfo.rank}">
                        실버
                    </td>
                    <td th:text="${authorPosition}">
                        미드
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="participants_info row">
        <p class="label">현재 참여 중인 파티원</p>
        <div class="content">
            <table class="user_info">
                <tr>
                    <th class="nickname">닉네임</th>
                    <th class="ingame_nickname">인게임 닉네임</th>
                    <th>레벨</th>
                    <th>랭크</th>
                    <th>포지션</th>
                    <th class="btn_col" th:if="${!post.isClosed()}">
                        <span th:if="${session.loginMember.id == post.memberId}">참가거부</span>
                        <span th:if="${session.loginMember.id != post.memberId}">참가취소</span>
                    </th>
                </tr>
                <tr th:each="participant : ${participants}">
                    <td th:text="${participant.memberNickname}">정글의신</td>
                    <td th:text="${participant.participantInfo.nickname}">블루버프왕</td>
                    <td th:text="${participant.participantInfo.level}">214</td>
                    <td th:text="${participant.participantInfo.rank}">실버</td>
                    <td th:text="${participant.position}">정글</td>
                    <td>
                        <form th:if="${!post.isClosed() and (session.loginMember.id == participant.memberId or session.loginMember.id == post.memberId)}"
                              th:action="@{/board/{gameId}/{postId}/refuse/{registrationId}(gameId=${game.id}, postId=${post.id}, registrationId=${participant.id})}"
                              method="post">
                            <button class="btn refuse">x</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="btn_container">
        <a th:href="@{/board/{gameId}(gameId=${game.id})}">
            <button class="btn_detail list">목록</button>
        </a>
        <div th:if="${session.loginMember.id == member.id}" class="author_only">
            <a th:href="@{/board/{gameId}/edit(gameId=${game.id}, id=${post.id})}">
                <button class="btn edit">게시글 수정</button>
            </a>
            <form th:action="@{/board/{gameId}/delete(postId=${post.id}, gameId=${game.id})}" method="post">
                <button type="submit" class="btn delete">삭제</button>
            </form>
        </div>
        <div class="participant_only">
            <form th:if="${!post.isClosed() and session.loginMember.id != post.memberId and !isParticipant}"
                  th:action="@{/board/{gameId}/{postId}/join(gameId=${game.id}, postId=${post.id})}" method="post">
                <button type="submit" class="btn join">파티 참가</button>
            </form>
        </div>
    </div>
</main>
</body>

</html>