<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>멋사라이브</title>
</head>
<body>
<header>
    <img src="./../../static/images/logo/site-logo.png" alt="멋사라이브 로고" width="160px" height="90px">
    <div>
        <img src="" alt="유저 기본프로필 이미지">
        <p>안녕하세요, 사용자님!</p>
    </div>
    <a href="">로그아웃</a>
</header>
<div class="board_info">
    <img src="./../../static/images/lol/lol-banner.png" alt="리그오브레전드 배너이미지">
    <div>
        <h1>리그오브레전드 파티 모집 게시판</h1>
        <p>듀오, 랭크, 일반, 칼바람 파티원을 모집해보세요!</p>
    </div>
</div>
<main>
    <div class="title">
        <p>제목</p>
        <p>실버 정글, 미드 구해요!</p>
    </div>
    <div class="post_info">
        <p>일반</p>
        <div>
            <img src="" alt="사용자프로필">
            <p>소환사루나</p>
        </div>
        <p>지원인원 3/5</p>
        <p>마감시간 <span>1사간 45분 남음</span></p>
        <form action="./request:close" method="post">
            <button>모집마감</button>
        </form>
    </div>
    <div class="content">
        <p>모집 내용</p>
        <div>
            <p>편하게 같이 게임하실 분 구합니다.</p>
            <p>실버 구간이고, 정글 또는 미드 플레이 가능하신 분 환영해요.</p>
            <p>디스코드 가능하신 분이면 더 좋고, 즐겜 위주로 편하게 하실 분 구합니다!</p>
        </div>
    </div>
    <div class="author_info">
        <p>게시글 작성자 정보</p>
        <div>
            <table>
                <tr>
                    <th>닉네임</th>
                    <th>인게임 닉네임</th>
                    <th>레벨</th>
                    <th>랭크</th>
                    <th>포지션</th>
                    <th>평점</th>
                </tr>
                <tr>
                    <td>소환사루나</td>
                    <td>달빛정글러</td>
                    <td>278</td>
                    <td>실버</td>
                    <td>미드</td>
                    <td>4.3</td>
                    <td>
                        <form action="./request:rating" method="post">
                            평가하기:
                            1<input type="radio" name="star" aria-label="author_star1" value="1">
                            2<input type="radio" name="star" aria-label="author_star2" value="2">
                            3<input type="radio" name="star" aria-label="author_star3" value="3">
                            4<input type="radio" name="star" aria-label="author_star4" value="4">
                            5<input type="radio" name="star" aria-label="author_star5" value="5">
                            <button type="submit">제출하기</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="participants_info">
        <p>현재 참여 중인 파티원</p>
        <div>
            <table>
                <tr>
                    <th>닉네임</th>
                    <th>인게임 닉네임</th>
                    <th>레벨</th>
                    <th>랭크</th>
                    <th>포지션</th>
                    <th>평점</th>
                </tr>
                <tr>
                    <td>정글의신</td>
                    <td>블루버프왕</td>
                    <td>214</td>
                    <td>실버</td>
                    <td>정글</td>
                    <td>3.8</td>
                    <td>
                        <form action="./request:refuse" method="post">
                            <button>x</button>
                        </form>
                        <form action="./request:rating" method="post">
                            평가하기:
                            1<input type="radio" name="star" aria-label="participant_star1" value="1">
                            2<input type="radio" name="star" aria-label="participant_star2" value="2">
                            3<input type="radio" name="star" aria-label="participant_star3" value="3">
                            4<input type="radio" name="star" aria-label="participant_star4" value="4">
                            5<input type="radio" name="star" aria-label="participant_star5" value="5">
                            <button type="submit">제출하기</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>서포티양</td>
                    <td>힐의축복</td>
                    <td>167</td>
                    <td>실버</td>
                    <td>서포터</td>
                    <td>4.1</td>
                    <td>
                        <form action="./request:refuse" method="post">
                            <button>x</button>
                        </form>
                        <form action="./request:rating" method="post">
                            평가하기
                            1<input type="radio" name="star" aria-label="participant_star1" value="1">
                            2<input type="radio" name="star" aria-label="participant_star2" value="2">
                            3<input type="radio" name="star" aria-label="participant_star3" value="3">
                            4<input type="radio" name="star" aria-label="participant_star4" value="4">
                            5<input type="radio" name="star" aria-label="participant_star5" value="5">
                            <button type="submit">제출하기</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buttons_container">
        <a href="/board/leageueoflegend">
            <button>목록</button>
        </a>
        <a href="./edit">
            <button>게시글 수정</button>
        </a>
        <form action="./request:delete_post" method="post">
            <button type="submit">삭제</button>
        </form>
    </div>
</main>
</body>
</html>