<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>멋사라이브</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<header th:replace="~{layout/common :: header}"></header>
<main class="px-4 py-4">
    <section th:replace="~{layout/common :: intro}"></section>
    <section class="container common-container py-4">
        <div class="row g-3">
            <aside class="col-2">
                <nav class="card  shadow-sm border-0">
                    <a href="#" class="text-decoration-none text-dark active-board fw-bold p-3">
                        파티모집
                    </a>
                </nav>
            </aside>
            <section class="col-10">
                <div class="bg-white rounded shadow-sm p-3 mb-3">
                    <form action="/" method="get" class="d-flex justify-content-between align-items-center">
                        <div class="d-flex gap-5">
                            <div>
                                <input type="text" name="keyword" placeholder="제목, 작성자 검색">
                                <button type="submit" class="btn btn-outline-orange">
                                    검색
                                </button>
                            </div>
                            <div class="d-flex gap-3">
                                <input type="radio"
                                       class="btn-check"
                                       name="type"
                                       id="all"
                                       value="all"
                                       checked>

                                <label class="btn btn-outline-orange" for="all">
                                    전체
                                </label>

                                <input type="radio"
                                       class="btn-check"
                                       name="type"
                                       id="rank"
                                       value="rank">

                                <label class="btn btn-outline-orange" for="rank">
                                    랭크
                                </label>

                                <input type="radio"
                                       class="btn-check"
                                       name="type"
                                       id="normal"
                                       value="normal">

                                <label class="btn btn-outline-orange" for="normal">
                                    일반
                                </label>
                            </div>
                        </div>
                        <div class="d-flex gap-3">
                            <select name="status">
                                <option value="">
                                    모집중
                                </option>
                                <option value="closed">
                                    마감
                                </option>
                            </select>
                            <a th:href="@{./1/write_post}" class="btn btn-orange">
                                글쓰기
                            </a>
                        </div>
                    </form>
                </div>
                <div class="bg-white rounded shadow-sm">
                    <table class="table align-middle mb-0 board-table">
                        <thead class="table-light ">
                        <tr>
                            <th class="text-secondary">제목</th>
                            <th class="text-secondary">카테고리</th>
                            <th class="text-secondary">작성자</th>
                            <th class="text-secondary">지원인원/모집정원</th>
                            <th class="text-secondary">마감시간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${posts}">
                            <td>
                                <a th:href="@{./${game.gameTitle}/detail(id=${post.id})}" th:text="${post.title}"
                                   class="text-decoration-none text-dark fw-semibold">
                                    제목(예시: 다이아 이상 파티원 모집합니다~)
                                </a>
                            </td>
                            <td>
                                <span th:text="${post.tag}" class="btn border-warning bg-white fw-semibold">등급</span>
                            </td>
                            <td>
                                <div>
                                    <img src="/images/icon/person-circle.svg">
                                    <span th:text="${post.memberId}" class="text-secondary">
                                     게시판 닉네임(인게임 닉네임X)
                                 </span>
                                </div>
                            </td>
                            <td>
                             <span th:text="${post.participantCount}">
                                 현재참여정원
                             </span>
                                /
                                <span th:text="${post.maxParticipantCount}">
                                 마감정원
                             </span>
                            </td>
                            <td>
                                <p th:if="${!post.isClosed()}" th:text="${post.deadline}">
                                    마감까지 남은 시간
                                </p>
                                <p th:if="${post.isClosed()}" th:text="마감됨">
                                    마감까지 남은 시간
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="bg-white justify-content-center p-2">
                    <ul class="pagination justify-content-center ">
                        <li class="page-item">
                            <a href="#"
                               class="page-link">
                                ‹
                            </a>
                        </li>

                        <li class="page-item active">
                            <a href="#"
                               class="page-link">
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#"
                               class="page-link">
                                ›
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </section>
</main>
</body>
</html>