<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>멋사라이브</title>
</head>
<body>
<header>
    <img src="./../../static/images/logo/site-logo.png" alt="멋사라이브 로고" width="160px" height="90px">
    <div>
        <img src="" alt="유저 기본프로필 이미지">
        <p>안녕하세요, 사용자님!</p>
    </div>
    <a href="">로그아웃</a>
</header>
<main>
    <section>
        <img src="/images/logo/site-logo-only.png">
        <h1>
            멋사라이브
        </h1>
        <p>
            관심있는 게임을 선택하여 커뮤니티에 참여해보세요!
        </p>
    </section>
    <section>
        <nav>
            <div>
                <img src="/images">
                <a href="/board/leagueoflegend">
                    <div>
                        <img src="/images">
                        <h2>
                            게임 명(예시 : 리그 오브 레전드)
                        </h2>
                        <p>
                            게임 설명(예시 : 전략과 팀워크가 빛나는 MOBA의 정석)
                        </p>
                    </div>
                </a>
            </div>
        </nav>
    </section>
</main>
</body>
</html>