<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>파티 모집 글 작성</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/write.css}">
</head>

<body>
<!-- 배너 -->
<!--<header th:replace="~{layout/common :: header}"></header>-->
<header class="container-fluid  px-4 py-4 bg-white shadow-sm">
    <!--    <div class="d-flex justify-content-between align-items-center common-container">-->
    <!--        <a href="#" class="">-->
    <!--            <img src="/images/logo/site-logo.png" width="200">-->
    <!--        </a>-->
    <!--        <a href="login.html" class="btn btn-orange">-->
    <!--            로그인-->
    <!--        </a>-->
    <!--    </div>-->

    <div class="d-flex justify-content-between align-items-center common-container">
        <a href="#" class="">
            <img src="/images/logo/site-logo.png" width="200">
        </a>
        <div class="d-flex align-items-center gap-3">
            <a href="mypage.html">
                <img src="images/icon/person-circle.svg">
            </a>
            <span>
            안녕하세요,&nbsp;
<!--            <strong th:text="${loginUser.nickname}">-->
                <strong>
                닉네임
            </strong>님!
            </span>
            <a href="">로그아웃</a>
        </div>
    </div>
</header>
<main class="px-4 py-4">
    <!--<section th:replace="~{layout/common :: intro}"></section>-->
    <section class="container common-container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <img src="/images/lol/lol-banner.png" class="board-banner">
            <div>
                <h3 class="fw-bold">
                    <span>게임명</span>
                    파티 모집 게시판
                </h3>
                <p class="text-secondary fw-semibold">
                    파티원을 모집해보세요!
                </p>
            </div>
        </div>
        <!--        <a href="/profile.html" class="btn btn-outline-orange fw-semibold">-->
        <!--            인게임 프로필 등록-->
        <!--        </a>-->
    </section>
    <!-- 모집 유형 -->
    <form th:action="@{/board/{gameId}/request(gameId=${game.id})}"
          th:object="${postDto}"
          method="post">

        <input type="hidden" th:field="*{gameId}">

        <div class="form-group">
            <label>모집유형 :</label>

            <input type="radio"
                   id="rank"
                   th:field="*{tag}"
                   value="rank">
            <label for="rank">랭크</label>

            <input type="radio"
                   id="normal"
                   th:field="*{tag}"
                   value="normal">
            <label for="normal">일반</label>
        </div>

        <!-- 모집 인원 -->
        <div class="form-group">
            <label for="memberCount">파티 모집 인원 선택 :</label>

            <select id="memberCount"
                    th:field="*{maxParticipantCount}">
                <option value="2">2명</option>
                <option value="3">3명</option>
                <option value="4">4명</option>
                <option value="5">5명</option>
            </select>
        </div>

        <!-- 랭크  -->
        <div class="form-group">
            <label>인게임 랭크 :</label>

            <select th:field="*{minRank}">
                <option value="iron">아이언</option>
                <option value="bronze">브론즈</option>
                <option value="silver">실버</option>
                <option value="gold">골드</option>
                <option value="platinum">플래티넘</option>
                <option value="emerald">에메랄드</option>
                <option value="diamond">다이아몬드</option>
                <option value="master">마스터</option>
                <option value="grandmaster">그랜드마스터</option>
                <option value="challenger">챌린저</option>
            </select>
            이상

            <select th:field="*{maxRank}">
                <option value="iron">아이언</option>
                <option value="bronze">브론즈</option>
                <option value="silver">실버</option>
                <option value="gold">골드</option>
                <option value="platinum">플래티넘</option>
                <option value="emerald">에메랄드</option>
                <option value="diamond">다이아몬드</option>
                <option value="master">마스터</option>
                <option value="grandmaster">그랜드마스터</option>
                <option value="challenger">챌린저</option>
            </select>
            이하
        </div>

        <!-- 모집 마감 시간 -->
        <div class="form-group">
            <label for="deadline">파티 모집 마감 시간 :</label>

            <input type="datetime-local"
                   id="deadline"
                   name="deadline"
                   th:field="*{deadline}">
        </div>

        <!-- 제목 -->
        <div class="form-group">
            <label for="title">파티 모집 글 제목</label>

            <input type="text"
                   id="title"
                   th:field="*{title}"
                   placeholder="제목을 입력하세요">

            <div class="field-error"
                 th:if="${#fields.hasErrors('title')}"
                 th:errors="*{title}">
            </div>
        </div>

        <!-- 내용 -->
        <div class="form-group">
            <label for="content">파티 모집 글 내용</label>

            <textarea id="content"
                      th:field="*{content}"
                      rows="15"
                      placeholder="모집 조건, 포지션, 디스코드 여부 등을 자유롭게 작성해주세요"></textarea>

            <div class="field-error"
                 th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}">
            </div>
        </div>

        <!-- 취소 및 확인 -->
        <div class="button-group">
            <a th:href="@{/board/leagueoflegend}">취소</a>
            <button type="submit">등록</button>
        </div>
    </form>
</main>
</body>
</html>