<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header th:replace="~{layout/common :: header}"></header>
<main class="px-4 py-4">
    <section th:replace="~{layout/common :: intro}"></section>
    <!--  section 시맨틱 -->
    <section class="container">
        <!--        form에 css적용하기 위한 div-->
        <div class="bg-white rounded shadow-sm p-5 mt-4">
            <form th:action="@{/board/{gameId}/profile(gameId=${game.id})}" th:object="${ingameInfoDto}" method="post">

                <!--                바로 다음 라인 div form의 '행' 에 해당-->
                <!--                1행-->
                <div class="row align-items-center mb-4">
                    <label for="nickname" class="col-3 fw-bold text-center">
                        닉네임
                    </label>
                    <div class="col-9">
                        <input type="text" th:field="*{nickname}" id="nickname" placeholder="인게임 닉네임을 입력해주세요"
                               class="form-control form-control-lg">
                    </div>
                </div>
                <!--                2행 -->
                <div class="row align-items-center mb-4">
                    <label for="equipLevel" class="col-3 fw-bold text-center">
                        장비레벨
                    </label>
                    <div class="col-9">
                        <input type="text" th:field="*{equipLevel}" id="equipLevel" placeholder="예) 123"
                               class="form-control form-control-lg">
                    </div>
                </div>
                <!--                3행-->
                <div class="row align-items-center mb-4">
                    <label for="job" class="col-3 fw-bold text-center">
                        클래스
                    </label>
                    <div class="col-9">
                        <select th:field="*{job}" id="job" class="form-select form-select-lg">
                            <option value="" selected disabled>
                                클래스를 선택해주세요
                            </option>
                            <option value="WARRIOR_M">전사(남)</option>
                            <option value="WARRIOR_W">전사(여)</option>
                            <option value="MARTIALARTIST_M">무도가(남)</option>
                            <option value="MARTIALARTIST_W">무도가(여)</option>
                            <option value="GUNNER_M">헌터(남)</option>
                            <option value="GUNNER_W">헌터(여)</option>
                            <option value="MAGE">마법사</option>
                            <option value="ASSASSIN">암살자</option>
                            <option value="SPECIALIST_M">스페셜리스트(남)</option>
                            <option value="SPECIALIST_W">스페셜리스트(여)</option>
                            <option value="GuardianKnight">가디언나이트</option>
                        </select>
                    </div>
                </div>
                <!--                4행 버튼-->
                <div class="d-flex justify-content-center gap-4 mt-4">
                    <a th:href="@{/board/{gameId}(gameId=${game.id})}" class="btn btn-outline-secondary profile-button">
                        취소
                    </a>
                    <button type="submit" class="btn btn-orange profile-button">
                        프로필 등록
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>