header{
    background-color: white;
    height: 100px;
}
.Header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 10px;

}
.logotomain{

    width: 100px;
    height: 100px;
    object-fit: fill;
}
.Home-btn{
    font-size: 24px;
    margin-top: 24px;
    color: black;
}
/* 헤더 공통 사용 */

body{
    background-color: whitesmoke;
    margin: 0;
}

.Top{
    margin-top: 25px;
    text-align: center;
}

/* 핵심 구현 */
.white-box{
    margin: 20px auto;
    padding: 50px;
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    background-color: white;
    text-align: center;
}

.form-group{
    padding: 20px;
}

.id-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    text-align: left;
    height: 80px;
    margin-left: 15%;
}
.id-form input {
    width: 450px;
    height: 40px;
    border-color: black;
}

.password-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    text-align: left;
    height: 80px;
    margin-left: 15%;
}
.password-form input {
    width: 450px;
    height: 40px;
    border-color: black;
}

.login-btn{
    margin-top: 30px;
    width: 460px;
    height: 40px;
    margin-right: 1px;

}

.register-btn{
    margin-top: 30px;
    background-color: whitesmoke;
    width: 460px;
    height: 40px;
    margin-right: 1px;


}






/* 하이퍼 링크 공통 사항 */
a{
    color: black;
    text-align: center;
}

a:hover,
a:focus {
    color: lightcoral;
}